body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.map-container {
  text-align: center;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

.search-container {
  margin-top: 40px;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px;
  cursor: pointer;
}

.city-info {
  text-align: left;
  margin-top: 10px;
}